[submodule "Drivers/CMSIS/Device/ST/STM32WBAxx"]
	path = Drivers/CMSIS/Device/ST/STM32WBAxx
	url = https://github.com/STMicroelectronics/cmsis_device_wba.git
	branch = main
[submodule "Drivers/STM32WBAxx_HAL_Driver"]
	path = Drivers/STM32WBAxx_HAL_Driver
	url = https://github.com/STMicroelectronics/stm32wbaxx_hal_driver.git
	branch = main
[submodule "Drivers/BSP/STM32WBAxx_Nucleo"]
	path = Drivers/BSP/STM32WBAxx_Nucleo
	url = https://github.com/STMicroelectronics/stm32wbaxx-nucleo-bsp
	branch = main
[submodule "Drivers/BSP/STM32WBA55G-DK1"]
	path = Drivers/BSP/STM32WBA55G-DK1
	url = https://github.com/STMicroelectronics/stm32wba55g-dk1-bsp
	branch = main
[submodule "Drivers/BSP/Components/Common"]
	path = Drivers/BSP/Components/Common
	url = https://github.com/STMicroelectronics/stm32-bsp-common.git
	branch = main
[submodule "Drivers/BSP/Components/cs42l51"]
	path = Drivers/BSP/Components/cs42l51
	url = https://github.com/STMicroelectronics/stm32-cs42l51.git
	branch = main
[submodule "Drivers/BSP/Components/ssd1315"]
	path = Drivers/BSP/Components/ssd1315
	url = https://github.com/STMicroelectronics/stm32-ssd1315.git
	branch = main
[submodule "Drivers/BSP/Components/ism330dhcx"]
	path = Drivers/BSP/Components/ism330dhcx
	url = https://github.com/STMicroelectronics/stm32-ism330dhcx
	branch = main
[submodule "Drivers/BSP/Components/m24256"]
	path = Drivers/BSP/Components/m24256
	url = https://github.com/STMicroelectronics/stm32-m24256
	branch = main
[submodule "Drivers/BSP/Components/wm8904"]
	path = Drivers/BSP/Components/wm8904
	url = https://github.com/STMicroelectronics/stm32-wm8904
	branch = main
[submodule "b-wba5m-wpan-bsp"]
	path = b-wba5m-wpan-bsp
	url = https://github.com/STMicroelectronics/b-wba5m-wpan-bsp/
	branch = main
[submodule "Drivers/BSP/B-WBA5M-WPAN"]
	path = Drivers/BSP/B-WBA5M-WPAN
	url = https://github.com/STMicroelectronics/b-wba5m-wpan-bsp
	branch = main
[submodule "Drivers/BSP/Components/m95p32"]
	path = Drivers/BSP/Components/m95p32
	url = https://github.com/STMicroelectronics/stm32-m95p32
	branch = main
[submodule "Drivers/BSP/Components/sht40ad1b"]
	path = Drivers/BSP/Components/sht40ad1b
	url = https://github.com/STMicroelectronics/stm32-sht40ad1b
	branch = main
