#! armclang --target=arm-arm-none-eabi -march=armv8-m.main -E -xc
/*************************************************************************************************/
#include "loader_region_defs.h"
/*************************************************************************************************/

LR_CODE LOADER_NS_CODE_START {
    ER_CODE (LOADER_NS_CODE_START) (LOADER_NS_CODE_SIZE){
        *.o (RESET +First)
        .ANY (+RO)
    }


    ER_DATA (LOADER_NS_DATA_START ) (LOADER_NS_DATA_SIZE) {
        .ANY (+ZI +RW)
    }
    /* MSP */
    ARM_LIB_STACK_MSP +0 ALIGN 32 EMPTY LOADER_NS_MSP_STACK_SIZE {
    }

    /* PSP */
    ARM_LIB_STACK +0 ALIGN 32 EMPTY LOADER_NS_PSP_STACK_SIZE {
    }

    ARM_LIB_HEAP +0 ALIGN 8 EMPTY LOADER_NS_HEAP_SIZE {
    }
}
