; *************************************************************
; *** Scatter-Loading Description File                      ***
; *************************************************************
LR_IROM1 0x08000000 0x000E0000 {
  ER_IROM1 0x08000000 0x000E0000 {
    *.o(RESET, +First)
    *(InRoot$$Sections)
    .ANY (+RO)
    .ANY (+XO)
  }

  RW_IRAM1 0x20000000 0x18000 {
    .ANY (+RW +ZI)
  }
}

;LR_IROM_NVM 0x0807C000 0x4000 {
;  ER_IROM_NVM 0x0807C000 0x4000 {
;  }
;}

